@model Hyperledger.Aries.Features.DidExchange.ConnectionInvitationMessage
@{
    ViewData["Title"] = "ViewInvitation";
    var invitationDetails = (string)ViewData["InvitationDetails"];
    var imgSrc = "";
    if (Model.ImageUrl != null)
    {
        imgSrc = "data:image/jpeg;base64," + Model.ImageUrl;
    }
    else
    {
        imgSrc = Url.Identicon(Model.Label, size: 300);
    }
}

<form asp-controller="Connections" asp-action="AcceptInvitation">
    <input type="hidden" name="InvitationDetails" value="@invitationDetails" />
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-header">
            Invitation Details
        </div>
        <img class="card-img" style="width:300px; height:300px; object-fit: cover" src="@imgSrc" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Label</h5>
            <p class="card-text"><small class="text-muted">@Model.ServiceEndpoint</small></p>
            <input type="submit" class="btn btn-primary" value="Accept Invitation"/>
        </div>
    </div>
</form>